# cache
__pycache__/

# Virtual environments
.venv/

# VSCode settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store



# Pleasanter API接続情報用jsonファイル
pleasanter_connection_info.json